package admin

import (
	"n1h41/marketplace/internal/model"
	"n1h41/marketplace/views"
	"n1h41/marketplace/views/partials"
)

templ AdminSignInView() {
	@views.Base(false) {
		@partials.SignIn(model.LoginAdminUserRequest{}, nil)
	}
}
