package adminviews

import (
	"n1h41/marketplace/dto"
	"n1h41/marketplace/views"
	"n1h41/marketplace/views/partials"
)

templ AdminSignInView() {
	@views.Base(false) {
		@partials.SignIn(dto.AdminLoginModel{}, nil)
	}
}
